input {
    font-family:monospace;
    text-transform:uppercase;
    padding:5px;
    font-size:18px;
    line-height:1.3em;
    height:30px;
    width:100%;
    margin-top:20px;
}

#result {
    font-size:18px;
    margin-top:40px;
}

#firstResult, #secondResult {
    font-family:monospace;
    text-transform:uppercase;
}

#result div {
    margin:10px;
}

.left {
    float:left;
}

.clear {
    clear:both;
}