.container {
    margin-top:50px;
}

input {
    font-family:monospace;
    text-transform:uppercase;
    padding:5px;
    font-size:18px;
    line-height:1.3em;
    height:30px;
}

#first, #second {
    width:100%;
}

#gap_penalty, #mismatch_penalty, #match_score {
    width:60px;
    text-align:center;
}

#result {
    font-size:18px;
    margin-top:40px;
}

#firstResult, #secondResult {
    font-family:monospace;
    text-transform:uppercase;
}

#result div {
    margin:10px;
}

.left {
    float:left;
}

.clear {
    clear:both;
}

.option {
    float:left;
    margin-right:30px;
}